@import 'bootstrap/scss/bootstrap';
@import 'users';
@import 'articles';
@import 'categories';

.header-div {
  background: white;
  position: sticky;
  top: 0;
}

.header-links {
  font-family: monospace;
  font-size: 18px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.header-links:hover,
.header-links:active {
  color: #f4511e;
  text-decoration: none;
}

.border-bot {
  border-bottom: 5px solid #795548 !important;
}

a:active {
  color: #f4511e;
}

.footer {
  background-color: #795548;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}

.sessions-form {
  background-color: #d7ccc8;
  width: 100%;
  height: 90vh;
  position: relative;
}

.card-holder {
  max-height: 18rem;
}

.card-holder-div {
  height: 18rem;
}

.cat-image {
  height: 18rem;
  width: inherit;
  object-fit: cover;
}
