
img {
  object-fit: contain;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-bottom {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.landing-text {
  color: white;
  font-size: 16px;
  font-family: monospace;
}

.landing-title {
  color: #f44336;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}

.landing-category-article {
  color: white;
  font-size: 16px;
}

.landing-category-name {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.border-bt {
  border-bottom: 3px solid  #ffea00 !important;
}

.new-article {
  background-color: #d7ccc8;
  width: 100%;
  height: 90vh;
  position: relative;
}

.new-article::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
