.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-style {
  width: inherit;
}
// .card-style{
// overflow: hidden;
// }
.title-style{
  color:#f4511e; 
  font-weight: bold;
}
.border-botm {
  border-bottom: 3px solid  #f4511e !important;
}